.image-slider img{
  width: 100%;
}

.about img{
  width: 100%;
}

.about{
  background-color: #f4eeff;
}

.navbarCustomStyle{
  background-color: #dcd6f7;
}

.jasa{
  background-color: #a6b1e1;
  height: 100px;
}
